@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2% 10%;
    gap: 50px;
}
li{
    flex-basis: 25%;
}
img{
    height: 325px;
}
p{
    font-size: 16pt;
}
a:visited{
    color: rgb(2, 57, 139);
}
a{
    color: rgb(59, 101, 165);
}
header{
    background-color: rgb(59, 101, 165);
    height: 200px;
    margin:0px;
    max-width: 100%;
}
h1{
    margin: 0px;
    padding-top: 30px;
    color: white;
    font-family: 'Delius';
    font-size: 35pt;
}
.App{
    background-color: white;
}
a:hover{
    color: rgb(109, 172, 255);
}
#search{
    width: 300px;
    font-size: 12pt;
}
button{
    width: 60px;
    font-size: 12pt;
}
#favButton{
    width: 100px;
}
#ending{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#ending span{
    font-size: 24pt;
}
#savedButtons{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 15px;
}
#savedButtons button{
    width:150px;
}
.star{
    color:black;
    cursor:pointer;
}
.scaleUp{
    animation: scalingUp 300ms linear;
}
.starFav{
    color:gold;
    cursor: pointer;
}
.scaleDown{
    animation: scalingDown 300ms linear;
}
@keyframes scalingUp {
    0% {transform: scale(1.00)}
    50% {transform: scale(1.50)}
    100% {transform: scale(1.00)}
}
@keyframes scalingDown{
    0% {transform: scale(1.00)}
    25%{transform: scale(.05)}
    100%{transform: scale(1.00)}
}