ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 10%;
    gap: 50px;
}
li{
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    width: 80%;
    gap: 50px;
    justify-content: center;

}
li section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
}
img{
    width: 450px;
    height: auto;
}
p{
    font-size: 16pt;
}
a:visited{
    color: rgb(2, 57, 139);
}
a{
    color: rgb(59, 101, 165);
}
header{
    background-image: linear-gradient(rgb(172, 205, 255), white);
    height: 150px;
    margin:0px;
}
h1{
    margin: 0px;
    padding: 40px;
}
.App{
    background-color: white;
}
