.siteBox h2{
    color:rgb(59, 101, 165);
    font-size: 23pt;
}
#cords{
    font-weight: bold;
}
.siteBox img{
    width: 40%;
}
.siteBox{
    background-image: url('/public/imgs/cloud.jpg');
    background-size: 100% 120%;
    padding: 60px 100px;
    padding-bottom: 100px;
    height: 775px
}
.siteBox div{
    background-color: white;
    padding: 25px;
}
#noID{
    margin-top: 220px;
}
.siteBox p{
    padding: 0px 5%;
}